[submodule "memosport/wwwroot/js/lib/tsLib"]
	path = memosport/wwwroot/js/lib/tsLib
	url = https://github.com/doesch/tsLib
[submodule "memosport/wwwroot/lib/tsLib"]
	path = memosport/wwwroot/lib/tsLib
	url = https://github.com/doesch/tsLib
