@using System.Runtime.Versioning

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register a User</h1>

<form action="@Url.Page("/Register")" method="post">
    <input type="email" name="email" placeholder="Email" maxlength="128"/>
    <input type="password" name="password" placeholder="Passwort" maxlength="32"/>
    <input type="password" name="passwordConfirmation" placeholder="Passwort bestätigen" />
    <input type="submit" value="Registrieren"/>
</form>
