@PageContainerWidth: 650px;
@GlobalFontColor: #555555;
@GlobalMargin: 15px;
@GlobalVMargin: 15px;
@GlobalFontMargin: 7px;
@GlobalButtonHeight: 35px;
@GlobalFontSize: 14px;
@GlobalLineHeight: @GlobalFontSize + 1;
@GlobalLineHeightQuestionAnswer: @GlobalLineHeight + 7px;
@GlobalFontFamily: 'Segoe UI','Open Sans', sans-serif, Arial;
@GlobalBoxShadow: 0px 1px 2px #777;
@GlobalBoxShadowDropDown: 1px 1px 2px #ccc;
@GlobalBttnPadding: 5px;
@GlobalBorderRadius: 3px;
@GlobalBarHeight: 45px; // height of the top bar in software
@GlobalSelectedBorderColor: #ccc - #222;
@GlobalBorderColor: #ccc;
@GlobalButtonBgColor: #ffffff;
@GlobalButtonBgColorHover: @GlobalButtonBgColor - #111;
@GlobalHoverBgColor: @GlobalButtonBgColorHover;
@GlobalDropDownWidth: 260px;
@GlobalBorderControls: 1px solid @GlobalBorderColor;
@IctMaxWidth: 640px;
@IctContainerHeight: 330px;
@IctProgressBarHeight: 20px;
@ColorFocus: #4c65bf;
@BorderFocus: 1px solid @ColorFocus;
@ButtonBgRed: rgb(255,102,153);
@ButtonBgGreen: rgb(0,183,183);
@ButtonBgYellow: rgb(255,215,0);

.dropdown-menu
{
    position: absolute;
    top: @GlobalBarHeight - 10px;
    min-width: @GlobalDropDownWidth;
    left: 1%;
    margin: 0;
    border-top: solid 1px @GlobalBorderColor;
    border-left: solid 1px @GlobalBorderColor;
    border-right: solid 1px @GlobalBorderColor;
    box-shadow: @GlobalBoxShadowDropDown;
    background-color: white;
}