<script id="ict-boxstats-template" type="text/html">
    <div id="ict-boxstats" data-bind="foreach: boxStats">
        <div class="ict-boxstats-container">
            <h2 data-bind="text: $data.name"></h2>
            <section class="stats-section">
                <div class="stats-section-left">
                    <div><span>Karteikarten in Box:</span></div>
                    <div><span>Zuletzt aufgerufen:</span></div>
                </div>
                <div class="stats-section-right">
                    <div><span data-bind="text: $data.boxStats.totalCount"></span></div>
                    <div><span data-bind="text: 'Vor ' + ($data.dateLastLearnedDays === null ? '?' : $data.dateLastLearnedDays) + ' Tagen'"></span></div>
                </div>
            </section>
            <section class="stats-section-known-bar" data-bind="foreach: $data.boxStats.boxStatsGroupedKnown">
                <div class="stats-bar-known-container" data-bind="style: { width: countPercent + '%' }">
                    <div class="stats-bar-known-indicator">
                        <span data-bind="text: known"></span>
                    </div>
                    <div class="stats-bar-known-marker-container">
                        <span class="stats-bar-known-marker">&nbsp;</span>
                    </div>
                    <div class="stats-bar-known cursor-pointer" data-bind="css: { 'stats-bar-1' : known < 3, 'stats-bar-2' : known === 3, 'stats-bar-3' : known > 3 }, click: function() { $root.boxStatsKnownBarClick($parent, known); }">
                        <span data-bind="text: count"></span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</script>
