<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthTest</title>
    <link rel="stylesheet" href="~/js/lib/tsLib/tsLib.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />

</head>
<body>

    @RenderBody()
    
    @*<footer id="footer">
        <nav id="main-menu">
            <a id="bttn-start" href="#">Seitenanfang</a>
            <a id="bttn-support" href="/contact">Kontakt</a>
            <a id="bttn-impressum" href="/imprint">Impressum</a>
            <div class="clearfix"></div>
        </nav>
        <p id="link-to-homepage">
            <a href="http://www.simon-doetsch.de">© http://www.simon-dötsch.de</a>
        </p>
    </footer>*@

</body>
</html>
