<script id="ict-search-dialog" type="text/html">
    <div id="ict-search-window">

        <form id="search-form">
            <span class="icon icon-search"></span><input id="ict-search-txt" type="text" title="Suche" />

            <div id="search-boxes-dropdown-bttn" class="bttn ict-dropdown-bttn" data-bind="click: function() { $root.searchFilterBoxesToggleShowDropdown(); return false; }, clickBubble: false">
                <div id="ict-dropdown-bttn-selecteditem" data-bind="text: $root.searchFilterSelectedBox().name"></div>
                <div class="ict-icon icon-arrow-down"></div>
            </div>

            <!-- ko if: searchFilterBoxesShowDropdown -->
            <div id="search-filter-boxes-dropdown-list-container" class="dropdown-list-container" data-bind="style: {display: $root.searchFilterBoxesShowDropdown() === true ? 'block' : 'none'}">
                <div id="search-filter-boxes-dropdown-scroll-container" class="dropdown-scroll-container">
                    <!-- ko foreach: $root.searchFilterBoxes -->
                        <div class="ict-boxes-dropdown-listitem" data-bind="click: function() { $root.searchFilterBoxSelected($data); }, css: {'selected-box' : $data === $root.searchFilterSelectedBox()}">
                            <span data-bind="text: $data.name"></span>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->

            <button id="ict-bttn-search-idc" title="Suche" data-bind="click: function(){ $root.searchIndexCard(); }" class="bttn">
                <span class="ict-icon icon-arrow-right"></span>
            </button>
        </form>

        <!-- ko if: $root.searchShowHourGlass() -->
        <div style="text-align: center;">
            <img src="/img/hour_glass.gif" alt="Loading..." style="text-align: center;" />
        </div>
        <!-- /ko -->

        <!-- ko if: $root.searchResult().length > 0 -->

        <div id="ict-search-result-table" class="t-table">
            <div class="t-thead">
                <div class="t-tr">
                    <div class="t-th">Frage</div>
                    <div class="t-th col-100">Karteikasten</div>
                    <div class="t-th col-50">Gewusst</div>
                </div>
            </div>
            <div class="t-tbody" data-bind="foreach: searchResult">
                <div class="t-tr" data-bind="click: function() { $root.searchEditIndexCardClick($data.IndexCard);}">
                    <div class="t-td"><span data-bind="html: $data.IndexCard.question"></span></div>
                    <div class="t-td col-100"><span data-bind="html: $data.IndexCardBox.name"></span></div>
                    <div class="t-td col-50">
                        <span data-bind="text: $data.IndexCard.known"></span>
                        <button id="bttn-reset-known" title="Erneut lernen" class="bttn bttn-icon" data-bind="click: function() { $root.resetKnown($data.IndexCard) }, enable: $data.IndexCard.known > 0, clickBubble: false"><span class="ict-icon icon-thumb-down-white"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /ko -->
    </div>
</script>
